UCH.db
venv/
.idea/
**/__pycache__
GPs/__pycache__
PatientSummary.txt
dasd
patient_summary.txt
patient_1234567890_summary.txt
patient_1234567891_summary.txt
patient_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_summary.txt
UCH.log

